name: External Links Validator
on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * 6'
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Check links
        id: lychee
        uses: lycheeverse/lychee-action@v2.7.0
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Create an issue if needed
        if: steps.lychee.outputs.exit_code != 0
        uses: peter-evans/create-issue-from-file@v6
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue
